In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [3]:
# A database is indeed a collection of data that is stored in a permanent storage for easy access and manipulation.

# SQL and NoSQL are two different types of databases that differ in terms of their data models, schema, and query language.

# SQL databases are relational databases that store data in tables with predefined schemas. 
# They use SQL (Structured Query Language) to manage and manipulate data. SQL databases are typically used in applications 
# where the data is structured and the relationships between the data are clearly defined. 
# Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

# On the other hand, NoSQL databases are non-relational databases that store data in a flexible, schema-less manner. 
# They do not use SQL for querying data, and instead use other methods such as key-value pairs, graph databases,
# or document-based databases. NoSQL databases are typically used in applications where the data is unstructured, dynamic, 
# and constantly changing. Examples of NoSQL databases include MongoDB, CouchDB, and Cassandra.

# Therefore, to differentiate between SQL and NoSQL databases, it's important to understand their data models, 
# schemas, and query languages, as well as the specific use cases where each type of database is appropriate.

In [4]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [8]:
# # DDL stands for data defination language.It is used to change schema

# # create is used to create new table
#ALTER TABLE employees ADD COLUMN department VARCHAR(50);

# #drop is used to drop the schema
# drop table student;

#alter is used to alter the schema of a table
# alter table employees ADD COLUMN department VARCHAR(50);

#truncate 
# it is used to delete all the rows from schema
# TRUNCATE TABLE employees;

In [9]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [10]:
# dml is used to change the data in table,
# Insert
# It is used to insert data into table
# Insert into student (name,age,roll) values('shivam',22,222)
# Update
# It is used to update data in table
# update table student set age=22 where roll=22
# Delete
# delete from student where roll=22

In [11]:
# Q4. What is DQL? Explain SELECT with an example.

In [12]:
# Data Query Language is used to retrieve rows from table.
# Select * from student where roll=22

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

In [35]:
# # primary key is a unique identity of each row, it can't be null or duplicate
# foreign key is the primary key of other related table, which is required for integrity purose and to create relationship

In [13]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [18]:
import mysql

In [28]:
mydb = mysql.connector.connect(host='localhost',user='root',password='root',
database='college',auth_plugin='mysql_native_password')

In [29]:
mydb

In [30]:
cursor=mydb.cursor()

In [31]:
cursor.execute('select * from student')

In [34]:

for i in cursor.fetchall():
    print(i)

(1, 'abc_0', 'def_0', 2016, 2, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(2, 'abc_1', 'def_1', 2016, 5, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(3, 'abc_2', 'def_2', 2016, 1, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(4, 'abc_3', 'def_3', 2016, 5, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(5, 'abc_4', 'def_4', 2016, 4, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(6, 'abc_5', 'def_5', 2016, 3, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(7, 'abc_6', 'def_6', 2016, 5, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(8, 'abc_7', 'def_7', 2016, 2, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(9, 'abc_8', 'def_8', 2016, 1, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(10, 'abc_9', 'def_9', 2016, 5, datetime.datetime(2022, 12, 31, 12, 12, 56), None, 1, 'kumar.shivam@gmail.com', None)
(11, 'abc_19', 'def_19', 2016, 5, datetime.datetime(2022, 12, 31, 12, 31, 4), None, 1, 'kumar.shivam@gmail.com', None)
(12, 'abc_9', 'def_9', 2016, 4, datetime.datetime(2022, 12, 31, 12, 35, 32), None, 1, 'kumar.shivam@gmail.com', None)

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# In a typical SQL query, the clauses are executed in the following order:

# FROM: The FROM clause is executed first, which specifies the table(s) or view(s) from which the data will be retrieved.

# WHERE: The WHERE clause is executed next, which filters the data based on the specified conditions.

# GROUP BY: The GROUP BY clause is executed next, which groups the data based on one or more columns.

# HAVING: The HAVING clause is executed next, which filters the grouped data based on the specified conditions.

# SELECT: The SELECT clause is executed next, which selects the columns to be returned in the result set.

# DISTINCT: The DISTINCT clause is executed next, which removes duplicate rows from the result set.

# ORDER BY: The ORDER BY clause is executed next, which sorts the result set based on one or more columns.

# LIMIT/OFFSET: The LIMIT and/or OFFSET clauses are executed last, which limits the number of rows returned and/or specifies the starting point for the result set.

# It's important to note that not all clauses are required in a SQL query, and they may not necessarily be executed in the same order every time. Also, some database management systems may optimize the order of execution based on the query and the database structure, so the order of execution may vary depending on the system.